<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div>
  <!-- <div class="container-fluid"> -->
        <!-- <div class="row"> -->
    	<% cache(cache_key_for_products) do %>
        	<%= render @products %>
        <% end %>	
        <!-- </div>     
  </div> -->
  <div id="new-product-button">
  	<% if signed_in? && current_user.admin? %>
	  <%= link_to 'New Product', new_product_path, class:"btn btn-default btn-special" %>
	  <%= link_to 'Edit', edit_product_path(@product.id), class:'btn btn-default btn-special' %>
	  <%= link_to 'Back', root_path, class:'btn btn-default btn-special' %>
  	<% end%>
	</div>

</div>

  <br>