<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class='col-md-12'>
    <% if @product.image_url %>
      <%= image_tag(@product.image_url, class: "img-responsive") %>
    <% end %>

    <p class="product-name">
      <%= @product.name %>
    </p>

    <p class="product-description">
      <%= @product.description %>
    </p>
    <p class="product-price">
      <%= @product.price %>
    </p>
   
    <%= form_tag "/payments/create" do %>
      <%= hidden_field_tag(:product_id, @product.id) %>
      <%= render partial: 'shared/stripe_checkout_button' %>
    <% end %>

    <h4>Highest Rating Comment</h4>
    <% if @product.highest_rating_comment %>
      <%= @product.highest_rating_comment.body %>
    <% end %>

    <h4>Lowest Rating Comment</h4>
    <% if @product.lowest_rating_comment %>
        <%= @product.lowest_rating_comment.body %>
      <% end %>

      <p>
        Average Rating:
        <div class="rated" data-score="<%= @product.average_rating %>">  
        </div>
      </p>

      <%= render 'new_comment', comments: @product.comments %>
      <%= render partial: "comments" %>
      <%= will_paginate @comments %>
      <%= link_to 'Edit', edit_product_path(@product), class:'btn btn-primary' %> |
      <%= link_to 'Back', products_path, class:'btn btn-primary' %>
    </div>
  </div>
</div>