<!DOCTYPE html>
<meta charset='utf-8'>
<html lang='en'>
  <head>
    <title>ARC Sports Tech</title>

    <%= csrf_meta_tags %>
   
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="widith=device-width, initial-scale=1">
  </head>

  <body>

    <%= render 'layouts/navbar' %>

    <%= render 'layouts/notices' %>

    <div class='container'>
      <%= yield %>
    </div>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </body>
  
  <footer class="footer">
      &copy; 2017 Arc Sports Tech
  </footer>
</html>
